<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<appSettings>
		<add key="UrlLOCAL" value="http://localhost:8090/banner-web/banner-rest/consultas/anunciosBySerie?numeroSerie=" />
		<add key="UrlQA" value="https://qa.appsweb.vwm.na.vwg/banner-rest/consultas/anunciosBySerie?numeroSerie=" />
		<add key="UrlPRD" value="https://appsweb.vwm.na.vwg/banner-rest/consultas/anunciosBySerie?numeroSerie=" />

		<add key="Interval" value="60000" />
		<add key="IntervalQA" value="6000" />

		<add key="mensaje" value="100000" />
		<add key="Alerta" value="Fallo de conexión" />
		<add key="Error" value="Comuníquese con soporte para solventar el problema de conexión" />
	</appSettings>
	
  <runtime>
	
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	
          <dependentAssembly>
	
              <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
	
          </dependentAssembly>
	
      </assemblyBinding>
	
  </runtime>
</configuration>