<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		     http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
  <display-name>BANNER</display-name>
  <distributable />
  
  <session-config>
    <!-- Cantidad de minutos que debe durar la sesion Seguridad TI de Organizacion recomienda 20 -->
    <!-- Se emplearan 18 minutos para la sesion de la aplicacion y 20 minutos para TAM, asi el sistema tendra tiempo de avisar -->
    <!-- Solo para pruebas configurar a 1 minuto -->
    <session-timeout>18</session-timeout>
  </session-config>
  
  <!-- Filtro que permite subir archivos con los componentes de PrimeFaces -->
  <filter>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>
  
    <!-- Agregar no login filter -->
  <filter-mapping> 
        <filter-name>NoLoginFilter</filter-name>
        <url-pattern>*.jsf</url-pattern>
  </filter-mapping>
  
  <!-- Redirige a login cuando expira la sesion sin acciones antes de login  -->
  <error-page>
	<exception-type>javax.faces.application.ViewExpiredException</exception-type>
	<location>/AutenticacionSvlt</location>
  </error-page>
  
  <!-- Servlet que se encarga de manejar todas las peticiones JSF al servidor -->
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
	<servlet-name>Faces Servlet</servlet-name>
	<url-pattern>*.faces</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  
	<!-- <context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param> -->
	
	<context-param>  
	    <param-name>primefaces.THEME</param-name>  
	    <param-value>#{userBean.theme}</param-value>  
	</context-param>
	
	<context-param>
      <param-name>primefaces.FONT_AWESOME</param-name>
      <param-value>false</param-value>
    </context-param>
	
</web-app>
